/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.desktop,
.mobile {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}
.on {
  display: block;
}

body {
  background: hsl(0, 0%, 98%);
}
main {
  min-height: 100vh;
  padding: 5rem 0;
  display: grid;
  place-items: center;
}
.to-do {
  max-width: 375px;
  width: 95%;
}

/* circle */
.circle,
.main-circle {
  width: 2rem;
  height: 2rem;
  border: 1px solid hsl(236, 33%, 92%);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.check {
  color: white;
  font-size: 0;
}
.completed .check {
  font-size: 10px;
}
.completed .circle {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-color: #fff;
}

.cross {
  cursor: pointer;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: white;
  text-transform: uppercase;
}
.moon,
.sun {
  display: none;
}
.on {
  display: block;
}

/* form */
.todo-form {
  background: white;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.todo-input {
  width: 100%;
  padding: 10px;
  border: none;
}

/* 
article
*/
article {
  display: grid;
  gap: 1rem;
  background: #fff;
}

/* single list*/
.single-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid hsl(233, 11%, 84%);
}
.todo-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1rem;
}

/* footer */
footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}
footer p {
  cursor: pointer;
}

/* finir le css */
.clear-all {
  cursor: pointer;
}
